section(class="content")
  div(class="wrapper")
    h2(class="content__title") Найдено 666 квартир
    div(class="cards")
      div(class="cards__header")
        span Сортировать по:
        ul(class="no-list x-list")
          li
            a(href="#" class="sort-link" id="by_price") По цене
          li
            a(href="#" class="sort-link" id="by_rooms") По комнатам
      include _card
      div(class="cards__paginaton")
        button(class="cards__pagination-button") Показать еще 20
    include _form