div(class="content__mailing mailing")
  div
    h4(class="mailing__title") Успей купить
    span(class="mailing__some-info") Подпишись и успей словить все акции
  form(class="mailing__form")
    div
      input(class="mailing__form-input" type="email" placeholder="E-mail")
      input(class="mailing__form-checkbox" id="mailing_checkbox" type="checkbox")
      label(for="mailing_checkbox" class="mailing__form-checkbox-label") подписаться на новости
    div
      button(type="button" class="mailing__form-submit") Подписаться
