

header(class="wrapper")
  div(class="header")
    a(href="#" class="logo header__logo")
      img(src="./img/logo_header.png")
    nav
      ul(class="header__nav-list no-list x-list")
        li(class="header_nav-list-item")
          a(href="#") Объекты
        li(class="header_nav-list-item")
          a(href="#") Компания
        li(class="header_nav-list-item")
          a(href="#") Как купить
        li(class="header_nav-list-item")
          a(href="#") Агентам
        li(class="header_nav-list-item")
          a(href="#") Регионам
        li(class="header_nav-list-item")
          a(href="#") Акции
        li(class="header_nav-list-item")
          a(href="#") Контакты
    div(class="header__call-us phonecall")
      a(href="tel:8-888-88-88-98" id="phone_call" class="phonecall__numbers") 8 888 88 88 98
      label(for="phone__call" class="phonecall__label")
      
        
