header(class="wrapper wrapper--header")
  div(class="header")
    a(href="#" class="logo header__logo")
      img(src="./img/logo_header.png" width="34" height="85")
    nav(class="header__nav")
      ul(class="header__nav-list no-list x-list")
        li(class="header__nav-list-item")
           a(href="#" class="header__nav-list-link") Объекты
        li(class="header__nav-list-item")
           a(href="#" class="header__nav-list-link") Компания
        li(class="header__nav-list-item")
           a(href="#" class="header__nav-list-link") Как купить
        li(class="header__nav-list-item")
          a(href="#" class="header__nav-list-link") Агентам
        li(class="header__nav-list-item")
          a(href="#" class="header__nav-list-link") Регионам
        li(class="header__nav-list-item")
          a(href="#" class="header__nav-list-link") Акции
        li(class="header__nav-list-item")
          a(href="#" class="header__nav-list-link") Контакты
    div(class="header__call-us phonecall")
      a(href="tel:8-888-88-88-98" id="phone_call" class="phonecall__numbers") 8 888 88 88 98
      label(for="phone__call" class="phonecall__label") Звони скорее!
    button(type="button" class="header__mobile-menu-btn")
      span
      
        
