* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open-sans', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, p {
  margin-top: 0;
}
.no-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.x-list {
  display: flex;
  flex-direction: row;
}
.wrapper {
  max-width: $maxwidth;
  margin: 0 auto;
}
@mixin wrapper($bg) {
  background-color: $bg;
}
.f18 {
  font-size: 18px;
}
.f13 {
  font-size: 13px;
}
.invalid-form-message {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: $white;
  background-color: $red;
  border-radius: 4px;
}
.scroll-to-top {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%) scale(0.8);
  display: none;
  width: 80px;
  height: 80px;
  padding: 0;
  background-image: url("/img/UP.jpg");
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  opacity: 0.5;
}
@media (min-width: 950px) and (max-width: 1260px) {
  .scroll-to-top {
    right: 10px;
  }
}
@media (max-width: 950px) {
  .scroll-to-top {
    right: 0px;
  }
}