$mainblue: #002f2f;
$mainlightblue: #046380;
$white: #fffefd;
$nearwhite: #faf9ef;
$milkcoffee: #faf9ef;
$coffee: #a7a37e;
$gray: #a1a1a1;
$lightgray: #f5f8f8;
$red: #ff4444;
$black: #313639;

$regular: 400;
$semibold: 600;
$bold: 700;

$minwidth: 320px;
$maxwidth: 1280px;